# Amplify Gen 2
amplify/data/resource.ts
.amplify/
amplify_outputs.json
amplifyconfiguration.json

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# build output
dist/
build/
.next/
out/

# misc
*.pem
